{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Галерея{% endtrans %}
{% endblock %}

{% block body %}

	<div id="events">
		<h1 class="uk-text-center">
			{% trans %}События{% endtrans %}
		</h1>

		<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
			{% for event in events %}
				<div>
					<div class="uk-card">
						<div class="uk-card-media-top">
							<img src="{{ asset('assets/img/events/' ~ event.image) }}" alt="">
						</div>
						<div class="uk-card-body">
							<div class="event-place">
								{% if (app.request.locale == 'en') and (event.nameEn is not empty)  %}
									{{event.nameEn}}
								{% else %}
									{{event.name}}
								{% endif %}
							</div>
							<div class="event-place">
								{% if (app.request.locale == 'en') and (event.placeEn is not empty)  %}
									{{event.placeEn}}
								{% elseif (event.place is not empty) %}
									{{event.place}}
								{% endif %}
							</div>
						</div>


					</div>
				</div>
			{% endfor %}
		</div>

	</div>

{% endblock %}
