{% extends 'base.html.twig' %}

{% block title %} {{ painting.name }}
{% endblock %}

{% block body %}

	<div class="uk-flex">
		<div id="image-viewer" class="uk-padding">

			<ul id="main-image" class="uk-switcher">
			{% for image in painting.paintingImages %}
				<li class="painting-show"><img src="{{ asset('images/paintings/' ~ image.name) }}" alt="{{ painting.name}}"></li>
			{% endfor %}
			</ul>
			<ul id="viewer-switcher" class="uk-subnav uk-subnav-pill" uk-switcher="connect: #main-image">
			{% for image in painting.paintingImages %}
				<li class="painting-show-small"><a href="#"><img src="{{ asset('images/paintings/' ~  image.name) }}" alt="{{ painting.name}}"></a></li>
			{% endfor %}
			</ul>

		</div>
		<div class="uk-padding">
			<div>
				<h1 class="">{{painting.name}}</h1>
				<div>{% trans %}художник Ирина Козлова Кузнецова{% endtrans %}</div>
				<table class="uk-table">
					<tr>
						<td></td>
						<td>{{ painting.priceOriginal }} rubles</td>
						<td><a class="uk-button uk-button-secondary uk-button-small" href="{{ path('cart_painting_add', {'id': painting.id,'type': 'Original'}) }}" >Ajouter au panier</a></td>
					</tr>
					<tr>
						<td></td>
						<td>{{ painting.priceReproduction }} rubles</td>
						<td><a class="uk-button uk-button-secondary uk-button-small" href="{{ path('cart_painting_add', {'id': painting.id,'type': 'Reproduction'}) }}" >Ajouter au panier</a></td>
					</tr>
				</table>
				<p>{% trans %}Доставка по России бесплатна{% endtrans %}<br>
				{% trans %}Доставка по миру обговаривается отдельно{% endtrans %}
				</p>
				<p> {% trans %}Артикл{% endtrans %}: {{painting.id}} <br>
				{% trans %}Размер{% endtrans %}: {{ painting.hight}} X {{ painting.width }} cm <br>
				{% trans %}Материал{% endtrans %}: {{ painting.material }}<br>
				{% trans %}Год создания{% endtrans %}: {{ painting.creationYear }}
				</p>
			</div>
		</div>
	</div>
	<p class="uk-text-italic uk-text-large uk-text-center"> {{painting.discription}}</p>
	<hr>
	<p class="uk-padding">{% trans %}Вы можеите купить картины Ирины Козловой Кузнецовой{% endtrans %}</p>

{% endblock %}