<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}IrinaArt{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        <!-- FONTS: Open Sans et Alegreya SC -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css"/>

        <!--font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {% block stylesheets %}{% endblock %}       
    </head>
    <body>
        {% block menu %}
            <header>
                <div id="preheader"   class="uk-navbar-container" uk-navbar >
                    <div class="uk-navbar-left">
                        <ul class="social-media uk-flex"> 
                            <li><a target="_blank" href="https://vk.com/ikozart">
                                <img src="{{ asset('assets/img/social-media/vk.png') }}" alt="icône de vkontakte">
                            </a></li>
                            <li><a target="_blank" href="https://www.facebook.com/artkozlova">
                                <img src="{{ asset('assets/img/social-media/facebook.png') }}" alt="icône de facebook">
                            </a></li>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCUu97jCyEiwFAzdK_dGvcbg/videos">
                                <img src="{{ asset('assets/img/social-media/youtube.png') }}" alt="icône de youtube">
                            </a></li>
                            <li><a target="_blank" href="https://www.instagram.com/artkozi/">
                                <img src="{{ asset('assets/img/social-media/instagram.png') }}"  alt="icone d'instagram">
                            </a></li>
                            <li><a uk-tooltip="title: @Artkozi; pos: bottom-right">
                                <img src="{{ asset('assets/img/social-media/telegram.png') }}" alt="icône de telegram">
                            </a></li>
                        </ul>
                    </div>
                    <div id="email_telephone" class="uk-navbar-right">
                        <address class="uk-flex">
                            <div class="uk-flex email_telephone_distance">
                                <div class="icone uk-margin-right"><a uk-tooltip="title: kuznetsova-i-v@mail.ru; pos: bottom" href="mailto:kuznetsova-i-v@mail.ru"><img src="{{ asset('assets/img/social-media/email.png') }}" alt="icône d'enveloppe"></a></div>
                                <div class="uk-visible@m"><a href="mailto:kuznetsova-i-v@mail.ru">kuznetsova-i-v@mail.ru</a></div>
                            </div>
                            <div class="uk-flex uk-margin-right">
                                <div class="icone uk-margin-right"><a href="tel:+79518726432" uk-tooltip="title: +79518726432; pos: bottom"><img src="{{ asset('assets/img/social-media/telephone.png') }}" alt="icône de téléphone"></a></div>
                                <div class="uk-visible@m"><a href="tel:+79518726432">+79518726432</a></div>
                            </div>
                        </address>
                    </div>
                </div>

                {# LOGO + NAVIGATION #}

                <nav class="uk-navbar uk-container">
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active">
                                <a class="uk-navbar-item uk-logo" href="index.php">
                                    <img id="logo" src="{{ asset('assets/img/logo.png') }}" alt="Irina Art">
                                </a>
                            </li> 
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav uk-visible@s">
                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">Home</a>
                            </li>
                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">Gallery</a>
                            </li>
                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">Coures</a>
                            </li>

                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">About artist</a>
                            </li>

                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">Contact</a>
                            </li>
                        </ul>
                        <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
                    </div>
                </nav>
                <div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
                    <div class="uk-offcanvas-bar">
                        <ul class="uk-nav">
                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">Home</a>
                            </li>
                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">Gallery</a>
                            </li>
                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">Coures</a>
                            </li>

                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">About artist</a>
                            </li>

                            <li class="uk-navbar-item">
                                <a href="{{ path('home') }}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block body %}
        
        {% endblock %}
        {% block footer %}
            <footer  class="uk-section uk-section-secondary uk-light uk-padding-large">
                <div class="uk-container">
                    <div id="footer-grid" class="uk-grid-match uk-child-width-1-1 uk-child-width-1-2@m uk-child-width-1-3@l" uk-grid>
                        <div class="uk-text-left@m uk-text-center">
                            <h3 class="uk-text-center">Info</h3>                       
                            <div><a href="{{ path('home') }}">Gallery</a></div>
                            <div><a href="{{ path('home') }}">Courses</a></div>
                            <div><a href="{{ path('home') }}">About artist</a></div>
                            <div><a href="{{ path('home') }}">Contact</a></div>
                            <div><a href="{{ path('home') }}">Legal notice</a></div>
                            <div><a href="{{ path('home') }}">Privacy policy</a></div>
                        </div>
                        <address class="uk-text-left@m uk-text-center">
                            <h3 class="uk-text-center">Contacts</h3>                                         
                            <div><a target="_blank" href="https://www.instagram.com/artkozi/">Instagram</a></div>
                            <div><a target="_blank" href="https://www.facebook.com/artkozlova">Facebook</a></div>
                            <div><a target="_blank" href="https://www.youtube.com/channel/UCUu97jCyEiwFAzdK_dGvcbg/videos">YouTube</a></div> 
                            <div><a target="_blank" href="https://vk.com/ikozart">Vkontakte</a></div>
                            <div>Skype: Irinaart</div>
                            <div>Telegram: @Artkozi</div>
                            <div>Tel: <a href="tel:+79518726432">+79518726432</a></div> 
                            <div>Viber: +79518726432</div>
                            <div>WhatsApp: +79518726432</div>
                            <div><a href="mailto:kuznetsova-i-v@mail.ru">kuznetsova-i-v@mail.ru</a></div>                                            
                        </address>
                        <div class="uk-visible@l">
                            <h3 class="uk-flex uk-flex-center"> 

                                {# HART #}
                                <div id="heart" class="uk-margin-right"></div>
                                Rejoignez-nous
                            </h3>
                            <div id="footer-image" class="uk-child-width-expand@s uk-text-center" uk-grid>
                                <div>
                                    <a target="_blank" href="https://www.facebook.com/artkozlova">
                                        <img src="{{ asset('assets/img/facebook.jpg') }}" alt="facebook">
                                    </a>
                                </div>
                                <div>
                                    <a target="_blank" href="https://www.instagram.com/artkozi/">
                                        <img src="{{ asset('assets/img/instagram.jpg') }}" alt="instagram">
                                    </a>
                                </div>
                            </div>												
                        </div>
                    </div>	
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
